.DS_Store
LowPowerSleep/.theos/_/DEBIAN/control
LowPowerSleep/.theos/_/var/jb/Library/MobileSubstrate/DynamicLibraries/LowPowerSleep.dylib
LowPowerSleep/.theos/_/var/jb/Library/MobileSubstrate/DynamicLibraries/LowPowerSleep.plist
LowPowerSleep/.theos/_/var/jb/Library/PreferenceLoader/Preferences/LowPowerSleep/LPSicon.png
LowPowerSleep/.theos/_/var/jb/Library/PreferenceLoader/Preferences/LowPowerSleep/LPSicon@2x.png
LowPowerSleep/.theos/_/var/jb/Library/PreferenceLoader/Preferences/LowPowerSleep/LPSicon@3x.png
LowPowerSleep/.theos/_/var/jb/Library/PreferenceLoader/Preferences/LowPowerSleep/Preferences.plist
LowPowerSleep/.theos/build_session
LowPowerSleep/.theos/fakeroot
LowPowerSleep/.theos/last_package
LowPowerSleep/.theos/obj/debug/.stamp
LowPowerSleep/.theos/obj/debug/arm64/LowPowerSleep.dylib
LowPowerSleep/.theos/obj/debug/arm64/LowPowerSleep.dylib.dSYM/Contents/Info.plist
LowPowerSleep/.theos/obj/debug/arm64/LowPowerSleep.dylib.dSYM/Contents/Resources/DWARF/LowPowerSleep.dylib
LowPowerSleep/.theos/obj/debug/arm64/LowPowerSleep.x.cf28124e.o
LowPowerSleep/.theos/obj/debug/arm64/LowPowerSleep.x.cf28124e.Td
LowPowerSleep/.theos/obj/debug/arm64e/LowPowerSleep.dylib
LowPowerSleep/.theos/obj/debug/arm64e/LowPowerSleep.dylib.dSYM/Contents/Info.plist
LowPowerSleep/.theos/obj/debug/arm64e/LowPowerSleep.dylib.dSYM/Contents/Resources/DWARF/LowPowerSleep.dylib
LowPowerSleep/.theos/obj/debug/arm64e/LowPowerSleep.x.16555398.o
LowPowerSleep/.theos/obj/debug/arm64e/LowPowerSleep.x.16555398.Td
LowPowerSleep/.theos/obj/debug/LowPowerSleep.dylib
LowPowerSleep/.theos/packages/com.hoangdus.lowpowersleep-0.0.1
LowPowerSleep/Makefile
LowPowerSleep/packages/com.hoangdus.lowpowersleep_0.0.1-1+debug_iphoneos-arm64.deb
