Package: com.hoangdus.lowpowersleep
Name: LowPowerSleep
Version: 0.0.1
Architecture: iphoneos-arm
Description: Automatically turn on low power mode when you lock your device
Maintainer: Hoangdus
Author: Hoangdus
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
